* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-red {
  background-color: red;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0000 !important;
  transition: 0.5s ease-in-out;
}

.navbar-brand {
  font-size: 13px;
}

.active,
.bg-red {
  background-color: #ff0000;
}

.bg-red:hover {
  background-color: #343a40;
  color: #ff0000 !important;
}

.active {
  color: #403834 !important;
  background-color: red;
}

.navbar-toggler {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  padding: 10px;
  width: 50px;
  border: none;
}
.navbar-toggler-line {
  background-color: #302f38;
  border-radius: 25%;
  display: block;
  height: 3px;
  margin-left: auto;
}

.navbar-toggler-line:nth-child(1) {
  width: 100%;
  display: inline-block;
  color: white !important;
}
.navbar-toggler-line:nth-child(2) {
  width: 70%;
  display: inline-block;
  color: white !important;
}
.navbar-toggler-line:nth-child(3) {
  width: 30%;
  display: inline-block;
  color: white !important;
}
@media screen and (max-width: 426px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
    width: 100%;
    background-color: #343a40;
    padding-top: 100px;
  }
}
@media screen and (max-width: 426px) {
  .navbar-collapse.show {
    left: 0;
    transition: left 0.3s ease-in;
  }
}
@media screen and (max-width: 426px) {
  .navbar-collapse a {
    margin-left: 15px;
  }
}

@media screen and (max-width: 426px) {
  a.nav-link,
  .close {
    color: #fff !important;
  }
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 426px) {
  .close {
    cursor: pointer;
    position: absolute;
    top: 6%;
    right: 15px px;
    transform: translate(0%, -50%);
    font-size: 50px;
    display: block !important;
  }
}
.close {
  margin-left: 90%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.banner-img {
  background-image: url(./images/creed-steps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
  width: 100%;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  right: unset;
  bottom: unset;
  transform: translate(-50%, -50%);
}

.fs {
  font-size: 20px;
}

.check:active {
  background-color: red;
  color: white !important;
}
.check:hover,
.check i:hover {
  background-color: red !important;
  cursor: pointer;
}
.fa-check-circle {
  position: absolute;
  top: 40%;
  right: 5%;
  bottom: unset;
  left: unset;
  transform: translate(-40%, -5%);
}
label:hover {
  cursor: pointer;
}
h2 {
  font-size: 45px;
}
.card {
  border-radius: 15px;
  border-top-left-radius: 15px;
  transition: all 0.3s;
  box-shadow: 7px 7px 5px 0px #4a4444bf;
  padding-bottom: 20px;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 5px 0px #474141bf;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img-fit {
  height: 25vh;
  object-fit: cover;
}
.card-text {
  font-size: 20px;
}
.text {
  font-size: 60px !important;
}
.ptb {
  padding-top: 150px !important;
  padding-bottom: 220px !important;
}
::placeholder {
  font-size: 20px;
}
.submit {
  padding-top: 32px;
}
/* select */
.select-menu .select-btn {
  display: flex;
  height: 55px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffff;
}
.select-btn i {
  font-size: 25px;
}
.select-menu .options {
  position: relative;
  padding: 0 16px;
  background-color: #ffff;
  margin-top: 10px;
  font-size: 22px;
  border-radius: 5px;
}

.select-menu .options .option {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 208, 208);
  cursor: pointer;
  padding: 10px 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.options .option:hover {
  cursor: pointer;
  background-color: rgb(223, 218, 218);
}
.select-menu .options {
  display: none;
}

.select-menu .options.active {
  display: block;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

#typing-text {
  font-size: 100px;
  white-space: nowrap;
  overflow: hidden;
  width: 700px;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}
